<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="authenticationSection" type="iSOFT.LORENZO.Web.Framework.Filter.AuthenticationSectionHandler, LorArcWebFramework"></section>
		<section name="warmupModules" type="iSOFT.LORENZO.WarmUp.WarmUpModulesSection,LorArcWarmUpConfigHandler"/>
		<section name="excludeExtensionSection" type="iSOFT.LORENZO.Web.Framework.Filter.ExcludeExtensionSectionHandler, LorArcWebFramework"></section>
		<sectionGroup name="isoft.lorenzo">
			<section name="appSession" type="iSOFT.LORENZO.Session.AppSessionConfigurationHandler, LorArcSession"/>
			<section name="serviceConfig" type="iSOFT.LORENZO.ServiceAgent.ServiceConfigConfigurationHandler, LorArcServiceAgent"/>
			<section name="serviceAgent" type="iSOFT.LORENZO.ServiceAgent.ServiceAgentConfigurationHandler, LorArcServiceAgent"/>
			<section name="uddiServers" type="iSOFT.LORENZO.ServiceAgent.UddiConfigConfigurationHandler, LorArcServiceAgent"/>
			<section name="services" type="iSOFT.LORENZO.ServiceAgent.ServicesConfigurationHandler, LorArcServiceAgent"/>
			<section name="sso" type="iSOFT.LORENZO.SSO.SSOConfigurationHandler, LorSSOAgent"/>
		</sectionGroup>
		<sectionGroup name="jPipe2.NET">
			<section name="jni.net" type="jPipe2.net.JNISectionHandler,jPipe2.net"/>
		</sectionGroup>
		<!-- <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup> -->
	</configSections>
	<isoft.lorenzo>
		<appSession>
			<providers defaultProvider="WebAppSessionProvider">
				<add name="WebAppSessionProvider" type="iSOFT.LORENZO.Session.WebAppSessionProvider, LorArcSession" />
				<add name="WinAppSessionProvider" type="iSOFT.LORENZO.Session.WinAppSessionProvider, LorArcSession" />
			</providers>
		</appSession>
		<serviceConfig>
			<providers>
				<add name="UddiServiceConfigProvider" type="iSOFT.LORENZO.ServiceAgent.UddiServiceConfigProvider, LorArcServiceAgent" />
			</providers>
		</serviceConfig>
		<serviceAgent>
			<providers>
				<add name="WebServiceAgentProvider" type="iSOFT.LORENZO.ServiceAgent.WebServiceAgentProvider, LorArcServiceAgent"
							timeout="120" />
				<add name="InprocServiceAgentProvider" type="iSOFT.LORENZO.ServiceAgent.InprocServiceAgentProvider, LorArcServiceAgent"
							timeout="120" />
			</providers>
		</serviceAgent>
		<uddiServers>
			<uddiServer>
				<add name="nhs">
					<uddiInquireUrl>http://uddi.nhs.gov.uk/inquire</uddiInquireUrl>
					<authenticationMode></authenticationMode>
					<username></username>
					<password></password>
					<httpProxy></httpProxy>
				</add>
				<add name="isoft">
					<uddiInquireUrl>http://uddi.lorenzo.isoftplc.uk/inquire</uddiInquireUrl>
					<authenticationMode></authenticationMode>
					<username></username>
					<password></password>
					<httpProxy></httpProxy>
				</add>
			</uddiServer>
		</uddiServers>
		<sso>
			<providers enabled="FALSE" defaultProvider="ADS">
				<add name="Test3rdParty" type="iSOFT.LORENZO.LorSSOAgent.SSOAgent, LorSSOAgent" args="" url="http://DHHAPPCHNG8085/appserver/CSSOAuthenticationProvider.asmx" MachineKeyProvider="CAB/LorArcWebCom.CAB#version=1,0,0,0" MachineKeyClassID="7C54F441-566C-4043-B98F-DA5EE5FD8636" MachineKeyMethod="MachineID"/>
				<add name="ADS" type="iSOFT.LORENZO.LorSSOAgent.ADSAgent, LorSSOAgent" args="NOPWD" url="http://DHHAPPCHNG8085/appserver/CSSOAuthenticationProvider.asmx" MachineKeyProvider="CAB/LZOWebClient.CAB#version=2,0,0,2" MachineKeyClassID="EF793D66-786B-4BAD-B9C8-1AE4EDE4A4A3" MachineKeyMethod="getUserName"/>
			</providers>
		</sso>
		<services>
		</services>
	</isoft.lorenzo>

	<!-- CDC New entires For SilverLight changes -->

	<system.serviceModel>
		<services>
			<service name="LorCDCService.CDCService"
					 behaviorConfiguration="tradeServiceBehavior">
				<endpoint name="basicHttpBinding"
						  address=""
						  binding="basicHttpBinding"
						  contract="LorCDCService.ICDCService"/>
				<endpoint name="mexHttpBinding"
						  contract="LorCDCService.ICDCService"
						  binding="mexHttpBinding"
						  address="mex" />
			</service>
			<service name="iSOFT.LORENZO.Common.SLDataProvider.SLGridDataProvider" behaviorConfiguration="tradeServiceBehavior">
				<endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.Common.SLDataProvider.ISLGridDataProvider"/>
				<endpoint name="mexHttpBinding" contract="iSOFT.LORENZO.Common.SLDataProvider.ISLGridDataProvider" binding="mexHttpBinding" address="mex"/>
			</service>
			<!--Theatre Endpoints-->
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreManagement.Services.TheatresWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreManagement.Services.ITheatres" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreManagement.Services.ITheatres"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreConfiguration.Services.ResourceWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IResource" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IResource"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreConfiguration.Services.OperationProfileWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IOperationProfile" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IOperationProfile"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreConfiguration.Services.ManageEventAttWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IManageEventAtt" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.IManageEventAtt"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreConfiguration.Services.LTMSFSWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.ILTMSFS" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreConfiguration.Services.ILTMSFS"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreScheduleDefinition.Services.TheatreSchDefinitionWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreScheduleDefinition.Services.ITheatreSchDefinition" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreScheduleDefinition.Services.ITheatreSchDefinition"/>
			</service>
			<service behaviorConfiguration="serviceBehaviors" name="iSOFT.LORENZO.TheatreScheduleManagement.Services.TheatreSchManagementWS">
				<endpoint address="" binding="basicHttpBinding" contract="iSOFT.LORENZO.TheatreScheduleManagement.Services.ITheatreSchManagement" bindingConfiguration="ServicesSoap"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="iSOFT.LORENZO.TheatreScheduleManagement.Services.ITheatreSchManagement"/>
			</service>
			<!--Theatre Endpoints-->
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_ISnomedServices" 
		      maxBufferSize="2147483647" 
			   maxBufferPoolSize="2147483647" 
			   maxReceivedMessageSize="2147483647" 
			   listenBacklog="2147483647"
			   maxConnections="10000">
					<security mode="None">
						<message clientCredentialType="None"/>
						<transport protectionLevel="None" clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<!--Theatre Binding-->
				<binding name="ServicesSoap" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
					maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
				<!--Theatre Binding-->
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8097/SnomedServices" binding="netTcpBinding" 
             	bindingConfiguration="NetTcpBinding_ISnomedServices" contract="ISnomedServices"
				            name="NetTcpBinding_ISnomedServices" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="tradeServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="returnFaults">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<!--Theatre -->
				<behavior name="serviceBehaviors">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<!--Theatre -->
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"  />
	</system.serviceModel>
	<system.web>
		<httpRuntime requestValidationMode="2.0" executionTimeout="110" maxRequestLength="250000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
	    -->
		<compilation defaultLanguage="c#" debug="false" optimizeCompilations="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
          on the local Web server. This setting is recommended for security purposes, so
          that you do not display application detail information to remote clients.
	    -->
		<customErrors mode="Off"/>
		<!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms",
          "Passport" and "None"
	    -->
		<authentication mode="Windows" />

		<!--report sserver requirement-->
		<identity impersonate = "false" />
		<!--report sserver requirement ends-->
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
	    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
	    -->
		<sessionState allowCustomSqlDatabase="true" mode="SQLServer" partitionResolverType="iSOFT.LORENZO.Web.Framework.CPartitionResolver"
				cookieless="false" timeout="900" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application.
		-->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
		<!--  PAGE DATA VALIDATION
          This section sets the validation for page data.
		-->
		<pages controlRenderingCompatibilityVersion="3.5" validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<!--  HTTP Handler
          This section sets the custom request processers.
		-->
		<!--
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add verb="GET" path="imageservice.axd" type="iSOFT.Web.Controls.ImageService, iSOFT.Web.Controls" />
			<add verb="GET" path="iformsimageservice.axd" type="iSOFT.LORENZO.Web.iForms.iFormsImageService, lzoiFormsWebApp" />
			<add verb="GET" path="medipadservice.axd" type="iSOFT.Web.Controls.MedipadService, iSOFT.Web.TextControls"/>
			<add verb="*" path="AjaxJSON.axd" type="iSOFT.LORENZO.Common.Framework.AjaxHandler, LorAppCommon" />
			<add verb="GET" path="GetImageStream.axd" type="iSOFT.LORENZO.Common.Framework.GetImageStream, LorAppCommon"/>
			<add verb="GET, POST" path="AddressSearch.axd" type="iSOFT.Web.Controls.AddressHelper.AddressSearch, iSOFT.Web.Controls" />
			<add verb="GET, POST" path="spellcheckservice.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.SpellCheckService, iSOFT.Web.TextControls"/>
			<add verb="GET, POST" path="itxtextheaderfooterservice.axd" type="iSOFT.Web.Controls.iTXTextHeaderFooterService, iSOFT.Web.TextControls"/>
			<add verb="GET, POST" path="txtextspellcheckservice.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.iTXTextSpellCheckService, iSOFT.Web.TextControls"/>
			<add verb="GET, POST" path="AddressSearch.axd" type="iSOFT.Web.Controls.AddressHelper.AddressSearch, iSOFT.Web.Controls" />
			<add verb="GET, POST" path="TerminologyHelperInterface.axd" type="iSOFT.LORENZO.Web.EPR.TerminologyHelperInterface, LorArcWebTerminologyBrowser"/>
			<add verb="*" path="*.bci" type="iSOFT.LORENZO.Web.CBarCodeHandler, LorArcBarCodeHandler" />
			<add verb="*" path="AnnotateControl.axd" type="iSOFT.Web.Controls.Ext.AnnotateVML, iSOFT.Web.TextControls"/>
			<add verb="*" path="BarCodeControl.axd" type="iSOFT.LORENZO.ClinicalNaratives.WebUI.UIControllers.BarCodeHelper, LorAppClinicalNarativesUI" />
			<add verb="GET" path="DocService.axd" type="iSOFT.Web.Controls.Viewer.DocService, LorArcDocViewer"/>
			<add verb="GET, POST" path="iWebCompositeScript.axd" type="iSOFT.Web.Controls.HttpObjectCombinerHandler, LorArcScriptManager"/>
			<add verb="GET, POST" path="ContextManager.axd" type="iSOFT.LORENZO.ContextManager.ExternalApplications.ContextManagerBC, LzoCtxMgrBC"/>
			<add verb="GET, POST" path="ContextManagerAudit.axd" type="iSOFT.LORENZO.ContextManager.ExternalApplications.AuditInfo, LzoCtxMgrBC"/>
			<add verb="GET, POST" path="GridControlCustomFilter.axd" type="iSOFT.Web.Controls.FilterDomainCode,iSOFT.Web.GridControls"/>
			<add verb="GET,POST"  path="CheckData.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.iTxtSpellCheck, iSOFT.Web.TextControls"/>
			<add verb="*" path="ProfilePersistHandler.axd" type="iSOFT.LORENZO.WebUI.ProfilePersistHandler, LorAppDataControllers"/>
			<add verb="GET, POST" path="WebControlHelper.axd" type="iSOFT.Web.Controls.ControlHelper.ControlHelper, iSOFT.Web.Controls"/>
			-->
			<!--given by vijayaramanathan -->
			<!--
			<add verb="*" path="ContextHandler.axd" type="iSOFT.LORENZO.WebUI.ContextHandler, LorAppDataControllers"/>
			-->
			<!-- For Saving DI data to the Lorenzo DB-->
			<!--
			<add verb="GET,POST" path="DiSavemodule.axd" type="iSOFT.LORENZO.DesktopIntegration.DISavemodule,LorAppDIExternalLinksUI"/>
			
			<add verb="GET,POST" path="DITermLookup.axd" type="iSOFT.LORENZO.DesktopIntegration.DITermLookup,LorAppDIExternalLinksUI"/>			
			-->
			<!--Entry for Theatres DU -->
			<!--
			<add verb="POST" path="LocationDiaryInterface.axd" type="lorapptheatrescheduledefinitionui.Common.LocationDiaryCommon, lorapptheatrescheduledefinitionui"/>
			<add verb="GET" path="GetPrimaryContext.axd" type="LorAppManagePrescriptionBBUI_P2.Web.PrimaryContext, LorAppManagePrescriptionBBUI_P2.Web" />
		</httpHandlers>
		-->
		<!--  Http Module
          This section sets the request filters.
		-->
		<!--
		<httpModules>

			<add name="LzoWebModule" type="iSOFT.LORENZO.Web.Framework.Filter.LzoWebModule, LorArcWebFramework" />
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="false">
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<!-- New Integrated settings starts-->
		        <add name="LzoWebModule" type="iSOFT.LORENZO.Web.Framework.Filter.LzoWebModule, LorArcWebFramework" preCondition="managedHandler" />
		        <remove name="FormsAuthentication" />
		        <remove name="Profile" />
		        <remove name="RoleManager" />
		        <remove name="OutputCache" />
		        <!-- New Integrated settings ends-->
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
					   type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
					   type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		      <!-- New Integrated settings starts-->
		      <add name ="AppService" verb="*" path="*_AppService.axd"  type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		      <add name ="imageservice" verb="GET" path="imageservice.axd" type="iSOFT.Web.Controls.ImageService, iSOFT.Web.Controls"/>
		      <add name ="iformsimageservice" verb="GET" path="iformsimageservice.axd" type="iSOFT.LORENZO.Web.iForms.iFormsImageService, lzoiFormsWebApp"/>
		      <add name="medipadservice" verb="GET" path="medipadservice.axd" type="iSOFT.Web.Controls.MedipadService, iSOFT.Web.TextControls"/>
		      <add name="AjaxJSON" verb="*" path="AjaxJSON.axd" type="iSOFT.LORENZO.Common.Framework.AjaxHandler, LorAppCommon"/>
		      <add name="GetImageStream" verb="GET" path="GetImageStream.axd" type="iSOFT.LORENZO.Common.Framework.GetImageStream, LorAppCommon"/>
		      <add name="AddressSearch" verb="GET,POST" path="AddressSearch.axd" type="iSOFT.Web.Controls.AddressHelper.AddressSearch, iSOFT.Web.Controls"/>
		      <add name="spellcheckservice" verb="GET,POST" path="spellcheckservice.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.SpellCheckService, iSOFT.Web.TextControls"/>
		      <add name="itxtextheaderfooterservice" verb="GET,POST" path="itxtextheaderfooterservice.axd" type="iSOFT.Web.Controls.iTXTextHeaderFooterService, iSOFT.Web.TextControls"/>
		      <add name="txtextspellcheckservice" verb="GET,POST" path="txtextspellcheckservice.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.iTXTextSpellCheckService, iSOFT.Web.TextControls"/>
		      <add name="TerminologyHelperInterface" verb="GET,POST" path="TerminologyHelperInterface.axd" type="iSOFT.LORENZO.Web.EPR.TerminologyHelperInterface, LorArcWebTerminologyBrowser"/>
		      <add name="bci" verb="*" path="*.bci" type="iSOFT.LORENZO.Web.CBarCodeHandler, LorArcBarCodeHandler"/>
		      <add name="AnnotateControl" verb="*" path="AnnotateControl.axd" type="iSOFT.Web.Controls.Ext.AnnotateVML, iSOFT.Web.TextControls"/>
		      <add name="BarCodeControl" verb="*" path="BarCodeControl.axd" type="iSOFT.LORENZO.ClinicalNaratives.WebUI.UIControllers.BarCodeHelper, LorAppClinicalNarativesUI"/>
		      <add name="DocService" verb="GET" path="DocService.axd" type="iSOFT.Web.Controls.Viewer.DocService, LorArcDocViewer"/>
		      <add name="iWebCompositeScript" verb="GET,POST" path="iWebCompositeScript.axd" type="iSOFT.Web.Controls.HttpObjectCombinerHandler, LorArcScriptManager"/>
		      <add name="ContextManager" verb="GET,POST" path="ContextManager.axd" type="iSOFT.LORENZO.ContextManager.ExternalApplications.ContextManagerBC, LzoCtxMgrBC"/>
		      <add name ="ContextManagerAudit" verb="GET,POST" path="ContextManagerAudit.axd" type="iSOFT.LORENZO.ContextManager.ExternalApplications.AuditInfo, LzoCtxMgrBC"/>
		      <add name="GridControlCustomFilter" verb="GET,POST" path="GridControlCustomFilter.axd" type="iSOFT.Web.Controls.FilterDomainCode,iSOFT.Web.GridControls"/>
		      <add name="CheckData" verb="GET,POST" path="CheckData.axd" type="iSOFT.Web.Controls.SpellingAndGrammer.iTxtSpellCheck, iSOFT.Web.TextControls"/>
		      <add name="ProfilePersistHandler" verb="*" path="ProfilePersistHandler.axd" type="iSOFT.LORENZO.WebUI.ProfilePersistHandler, LorAppDataControllers"/>
		      <add name="WebControlHelper" verb="GET,POST" path="WebControlHelper.axd" type="iSOFT.Web.Controls.ControlHelper.ControlHelper, iSOFT.Web.Controls"/>
		      <add name="ContextHandler" verb="*" path="ContextHandler.axd" type="iSOFT.LORENZO.WebUI.ContextHandler, LorAppDataControllers"/>
		      <add name="LocationDiaryInterface" verb="POST" path="LocationDiaryInterface.axd" type="lorapptheatrescheduledefinitionui.Common.LocationDiaryCommon, lorapptheatrescheduledefinitionui"/>
		      <add name="DiSavemodule" verb="GET,POST" path="DiSavemodule.axd" type="iSOFT.LORENZO.DesktopIntegration.DISavemodule,LorAppDIExternalLinksUI"/>
		      <add name="DITermLookup" verb="GET,POST" path="DITermLookup.axd" type="iSOFT.LORENZO.DesktopIntegration.DITermLookup,LorAppDIExternalLinksUI"/>
		      <add name="GetPrimaryContext" verb="GET" path="GetPrimaryContext.axd" type="LorAppManagePrescriptionBBUI_P2.Web.PrimaryContext, LorAppManagePrescriptionBBUI_P2.Web" />
		      <add name="LogoffHandler" verb="*" path="LogoffHandler.axd" type="iSOFT.LORENZO.Web.LogoffHandler, LorArcWebApp"/>
		      <!-- New Integrated settings ends-->
		</handlers>
		<httpProtocol>
			<customHeaders>
				<!-- <add name="X-UA-Compatible" value="IE=5" /> -->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!-- The following code uses the predefined appSettings section. -->
	<appSettings>
		<!-- Registration Details -->
		<add key="IsGridSortFilterRequired" value="False" />
		<add key="RegisteredName" value="" />
		<add key="CompanyName" value="" />
		<add key="SerialNo" value="" />
		<!-- Appliction Module Code -->
		<!--
		<add key="AppVersion" value="6.00.0000.008" />
		-->
		<!-- Appliction Icon -->
		<add key="AppIcon" value="../images/AFW_NHSLogo.gif" />
		<add key="Gatewayproxyserver" value="DHHAPPCHNG8085"/>
		<add key="Gatewayproxyport" value="9090" />
		<add key="KBCRReportServer" value="http://DHHAPPCHNG8085/ReportServer"/>
		<add key="SQLReportServer" value="http://DHHAPPCHNG8085/ReportServer"/>
		<add key="CM_CONNECTIONSTRING" value="2DR+6y5ZQAeJQ2kZuhxmwSnIBiPRoblI9L7p7+uuIO7oCa+YLwYe6BQUoyChXWIBr9xAdgvzIasNjgb0qlqWF3BfhYn454DQs/LvQI85YKNRtP/Z82wpyQ=="/>
		<add key="APPLICATION_CODE" value="Web-Epr"/>
		<add key="VERSION" value="6.00.0000.008"/>
		<add key="PROFILE_NAME" value="Production"/>
		<!-- Required for CCM Resilience -->
		<add key="CCM_SOAP_TIMEOUT" value="60000" />
		<!--in Milliseconds-->
		<add key="CCM_SOAP_RETRYCOUNT" value="3" />
		<add key="CCM_SOAP_RETRYINETRVAL" value="60" />
		<add key="CCM_DB_TIMEOUT" value="60" />
		<add key="CCM_DB_RETRYCOUNT" value="3" />
		<add key="CCM_DB_RETRYINETRVAL" value="60" />
		<add key="CODINGSCHEMEVERSION" value="1.0" />
		<add key="Stack-Version" value="6.00.0000.008"/>
		<!--Key for SSO-->
		<add key="Production" value="false"/>
		<add key="TokenKeyName" value="TOKENID"/>
		<add key="SamlUrl" value="http://DHHAPPCHNG8085/SSOHarness/GetSAML.aspx"/>
		<add key="NativeLogon" value="false"/>
		<add key="SSOFilePath" value="E:\Program Files\iSOFT\LORENZO\2.0\WebClient_SSO\"/>
		<add key="VerboseLog" value="false"/>
		<add key="CODING_SCHEME_NAME" value="Lorenzo"/>
		<!--Key for HLI SNOMED-->
		<add key="SessionDBCount" value="1"/>
		<add key="ReleaseVersion" value="2" />
		<add key="HRGSERVER" value="DHHAPPCHNG8085"/>
		<add key="AddCssLink" value="True"/>
		<add key="RPTRDLVERSION" value="6.00.0000.008"/>
		<add key="ScriptManagerEnabled" value="False"/>
		<add key="IsITR1DDAEnabled" value="False"/>
		<add key="Trace_Delivery_Location" value="False"/>
		<!-- Required for TxTextHandler Out Process -->
		<add key="WSTxHandlerPath" value="TxTextWSHandler"/>
		<add key="EnableDynamicCaching" value="False"/>
	</appSettings>

	<!-- The following code uses the warmup Modules. -->
	<warmupModules enabled="false">
		<warmupModule name="WEBFRAMEWORK" description="UIConfiguration" type="iSOFT.LORENZO.UIFlow.WarmUp.CUIFlowWarmUpHandler,LorArcUIFConfiguration" enabled="false">
		</warmupModule>
		<warmupModule name="SECURITY" description="Security Engine" type="iSOFT.LORENZO.Security.WarmUp.CSecurityWarmUpHandler,LorArcSecurityEngine" enabled="false">
		</warmupModule>
		<warmupModule name="DEPLOYMENTUNIT" description="DeploymentUnit" type="iSOFT.LORENZO.DeploymentUnit.WarmUp.CDeploymentUnitWarmUpHandler,LorArcDeploymentUnit" enabled="false">
		</warmupModule>
		<warmupModule name="MULTICAMPUS" description="MultiCampus" type="iSOFT.LORENZO.MultiCampus.WarmUp.CMultiCampusWarmUpHandler,LorArcMultiCampus" enabled="false">
		</warmupModule>
		<warmupModule name="PROFILE" description="ProfileEditor" type="iSOFT.LORENZO.Personalization.WarmUP.CProfileEditorWarmUpHandler,PersonalizationBC" enabled="false">
		</warmupModule>
		<warmupModule name="RTE" description="Terminology Engine" type="iSOFT.LORENZO.LorArcTerminology.CWarmupRTE,LorArcTerminologyEngine" enabled="false">
			<parameter name="CODINGSCHEMENAME" value="Lorenzo"/>
		</warmupModule>
		<warmupModule name="CCM" description="CCM" type="iSOFT.LORENZO.ConfigurationManager.WarmUp.CConfigManagerWarmUpHandler,LorArcConfigurationClient" enabled="false">
			<parameter name="DAE" value="DAE"/>
			<parameter name="AppSettings" value="__APPSETTING"/>
		</warmupModule>
		<warmupModule name="ApplicationWarmup" description="Application Intialize" type="iSOFT.LORENZO.LorArcTerminology.CsWarmupAppInitialize,LorArcTerminologyEngine" enabled="false">
			<parameter name="URL" value="http://localhost/Appserver/chliservice.asmx"/>
			<parameter name="ProxyServer" value=""/>
			<parameter name="Port" value=""/>
		</warmupModule>
	</warmupModules>

	<!-- The following code uses the custom section. -->
	<authenticationSection>
		<allow>default.htm</allow>
		<allow>Logon.aspx</allow>
		<allow>ExtLogon.aspx</allow>
		<allow>Logoff.aspx</allow>
		<allow>DeleteCookie.aspx</allow>
		<allow>SilentLogon.aspx</allow>
		<allow>iMsgDialog.aspx</allow>
		<allow>WebForm1.aspx</allow>
		<allow>WebForm2.aspx</allow>
		<allow>template5.html</allow>
		<allow>WebForm5.aspx</allow>
		<allow>default.aspx</allow>
		<allow>iglogin.aspx</allow>
		<allow>tokenchange.aspx</allow>
		<allow>AppChangePwd.aspx</allow>
		<allow>AppCallBack.aspx</allow>
		<allow>AnnotateControl.axd</allow>
		<allow>BarCodeControl.axd</allow>
		<allow>ErrorPage.aspx</allow>
		<allow>DateUtility.aspx</allow>
		<allow>WebResource.axd</allow>
		<allow>ScriptResource.axd</allow>
		<allow>CStreamingHandler.ashx</allow>
		<allow>DocService.axd</allow>
		<allow>iWebCompositeScript.axd</allow>
		<allow>imsgdialog2.aspx</allow>
		<allow>Getimagestream.axd</allow>
		<allow>DiSavemodule.axd</allow>
		<allow>DITermLookup.axd</allow>
		<allow>MainPrintPreviewippma.aspx</allow>
        <allow>mainlocalprintippma.aspx</allow>
		<allow>DIMHSViewer.aspx</allow>
		<allow>BCLogout.aspx</allow>
		<allow>DIOrchViewer.aspx</allow>
		<allow>DITestUrl.aspx</allow>
		<allow>DIPageHarness.aspx</allow>
	</authenticationSection>
	<excludeExtensionSection>
		<exclude>.asmx</exclude>
		<exclude>.svc</exclude>
	</excludeExtensionSection>
	<connectionStrings>
	<add name="ASPSessionDB0" connectionString="data source=DHHSQLCHNG8086\DHHCHN07;initial catalog=ASPState;user id=rcdev;password=rcdev;" /></connectionStrings>
		<!-- <add name="ASPSessionDB0" connectionString="79ZH9JX0ogM3QGoD4qkbLFxzPguzNA14aGYFmjxZJMuck3hRHGXwf/6jEsyuwR6HGyUB+1t8RwqULu7ewt1MgnnlkunClt6/6cYUU7pAISwHFh9Mf4IJ0Q==
"/></connectionStrings> -->
	<!-- <system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom> -->
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->
</configuration>
